
.main{
    background: linear-gradient(rgba(251, 0, 255, 0.68), rgba(1, 0, 22, 0.88)),
    url('../imgs/back.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}
.main2{
    background: linear-gradient(rgba(0, 221, 255, 0.872), rgba(1, 0, 22, 0.88)),
    url('../imgs/back.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
}
.main_all{
    display: flex;
    margin: 5% 5% 20% 5%;
    width: 90%;
}
.message_box{
    height: 100%;
}
.hero {
    position: relative;
    background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5%;
  }
.hero h1 {
    font-size: 200%;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 50%;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  
/* プログラミング */
.main01{
    text-align: left;
    margin-left: 4%;
}
.img_main{
    width: 80%;
    height: auto;
    pointer-events: none;
}
.lines01{
    text-align: left;
    margin-right: 4%;
    margin-top: 7%;
}
.img_line01{
    width: 60%;
    pointer-events: none;
    margin-left: -18%;
}
.img_botton01{
    width: 60%;
    display: block;
}
.img_botton02{
    width: 55%;
    display: block;
    margin-left: 10%;
    margin-top: -5%;
}
.img_botton03{
    width: 60%;
    display: block;
    margin-left: 45%;
}
.img_botton04{
    width: 80%;
    display: block;
    margin-left: 30%;
}

/* デザイン */
.main02{
    text-align: right;
    margin-right: 4%;
}
.img_main{
    width: 80%;
    height: auto;
    pointer-events: none;
}
.lines02{
    text-align: right;
    margin-left: 4%;
    margin-top: 7%;
}
.img_line02{
    width: 60%;
    pointer-events: none;
    margin-right: -18%;
}
/*スタート*/
.start {
    background: linear-gradient(rgba(188, 190, 207, 0.671), rgba(35, 33, 49, 0.8)),
    url('../imgs/start01.png'), center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}
/*掲示板アニメーション*/
.container {
    max-width: 100%;
    margin: 0 auto;
  }
  /* スライダーのwrapper */
  .infinite-slider .swiper-wrapper {
    transition-timing-function: linear;
  }
  /* スライド */
  .infinite-slider .swiper-slide {
    height: 80px !important; /* 高さを指定 */
    width: auto !important;
  }
  
  /* スライド内の画像 */
  .infinite-slider .swiper-slide img {
    height: 80px !important; /* 高さを指定 */
    width: auto !important;
  }
  @media only screen and (max-width: 750px) {
      /* スライド */
  .infinite-slider .swiper-slide {
    height: 40px !important; /* 高さを指定 */
    width: auto !important;
  }
  
  /* スライド内の画像 */
  .infinite-slider .swiper-slide img {
    height: 40px !important; /* 高さを指定 */
    width: auto !important;
  }

  }
  /*スクロールアニメーション*/
  .main_all{
    animation-delay: 1.8s;
    animation-name: fadein;
    animation-duration: 3s;
}
@keyframes fadein{
    from{
    opacity: 0;
    transform: translatey(20px);
    }
    to{
    opacity: 1;
    transform: translatey(0);
    }
}