.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
  }
  @media only screen and (max-width: 900px) {
    .main_h {
      padding-top: 25px;
    }
  }
  
  .open-nav {
    max-height: 400px !important;
  }
  .open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  
  .sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
  }
  h2{
    font-family: sans-serif;
  }
  .logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 766px) {
    .logo {
      float: none;
    }
  }
  
  nav {
    float: right;
    width: 60%;
  }
  @media only screen and (max-width: 766px) {
    nav {
      width: 100%;
    }
  }
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
  }
  @media only screen and (max-width: 766px) {
    nav ul {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }
  }
  nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
  }
  @media only screen and (max-width: 766px) {
    nav ul li {
      width: 100%;
      padding: 7px 0;
      margin: 0;
    }
  }
  nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
  }
  @media only screen and (max-width: 766px) {
    .mobile-toggle {
      display: block;
    }
  }
  .mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
  }
  
  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  }
  .work_illustration{
    display: flex;
  }
  .work_illustration2{
    display: block;
    margin: 10px;
  }
  .illustration{
    margin-bottom: 10px;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #FFF;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
  }
  
  .content {
    margin-top: -10px;
  }
  
  .hero {
    position: relative;
    background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  .hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
  }
  
  .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
  }
  .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
  }
  /* 背景 */
  .new01_about{
    background: linear-gradient(rgba(255, 3, 251, 0.671), rgba(6, 15, 96, 0.8)),
    url('../imgs/back01.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .new02_about{
    background: linear-gradient(rgba(0, 255, 225, 0.8), rgba(6, 15, 96, 0.8)),
    url('../imgs/back01.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .new01_work{
    background: linear-gradient(rgba(0, 255, 225, 0.8), rgba(6, 15, 96, 0.8)),
    url('../imgs/system01.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .new02_work{
    background: linear-gradient(rgba(255, 3, 251, 0.671), rgba(6, 15, 96, 0.8)),
    url('../imgs/system04.png'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .new01_labo{
    background: linear-gradient(rgba(0, 255, 225, 0.8), rgba(6, 15, 96, 0.8)),
    url('../imgs/back02.jpeg'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  .new02_labo{
    background: linear-gradient(rgba(255, 3, 251, 0.671), rgba(6, 15, 96, 0.8)),
    url('../imgs/back02.jpeg'), center;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
  }
  body{
    margin: -8px;
    height: 100%;    
  }
  a{
    color: #FFF;
  }
  .icon{
    width: 20%;
    height: 20%;
  }
  .main_img{
    width: 20%;
    height: 20%;
  }
  .sample-text1 {
    font-size: 20px;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 2s;
  }
  .sample-text2 {
    
    font-size: 20px;
    font-weight: bold;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 8s; 
  }
  @keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  

}
/* スライダー */
.main_slide{
    width: 100%;
    height: auto;
}
.main_slide2{
    width: 20%;
    height: auto;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 20px !important;
}
.sec01, .sec02, .sec03, .sec04{
    font-size: 300%;
}
.all{
    margin-left: 5px;
}

.start {
    background: linear-gradient(rgba(207, 188, 206, 0.671), rgba(35, 33, 49, 0.8)),
    url('../imgs/back01.png'), center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}
/* フッター */
.footer_work{
  background-color: rgba(255, 255, 255, 0.80);
  bottom: 0;
  width: 100%;
  height: 5%;
  margin-bottom: -20%;
}
.footer_about{
  background-color: rgba(255, 255, 255, 0.80);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
}
/* 無限ループ */
.text-progress {
  text-align: center;
  color: #8f8f8f;
  font-family: sans-serif;
}
span{
  font-family: sans-serif;
}
p{
  font-size: larger;
  font-family: sans-serif;
  width: 100%;
}
h3{
  font-family: sans-serif;
}
.row{
  background-color: rgba(255, 255, 255, 0.2);
}
/*カーソル*/
html{
  width: 100%;
}
.yext_about{
  font-size: large;
}